<div class="links">
  <header>
    <h1>URL Lockbox</h1>

    <% if current_user %>
      <%= link_to "Sign Out", logout_path, method: "DELETE" %>
    <% end %>
  </header>

  <section class="create-link">
    <%= render partial: "form", locals: { type: "create" } %>
  </section>

  <section class="filters">
    <h3>Filter</h3>
    <input type="text" id="link-filter" placeholder="Filter by URL or title"/>
  </section>

  <h3>Lockbox</h3>
  <section class="lockbox">
    <% @links.each do |link| %>
      <%= render partial: 'link_card', locals: { link: link } %>
    <% end %>
  </section>
</div>
