.links {
  background: $yellow;
  width: 100%;
  max-width: 600px;
  height: 100vh;
  margin: 0 auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
}
