.lockbox {
  display: flex;
  width: 90%;
  margin: 10px;
  justify-content: space-between;
  flex-flow: row wrap;
  article {
    border: 2px solid $blue;
    padding: 10px;
    width: 200px; 
    margin: 10px;
    word-wrap: break-word;
    h4, p, button { margin: 10px 0 }
    a {
      font-size: 12px;
    }
    &.read {
      opacity: .5;
    }
  }
}
