@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Space+Mono');

$font-serif: "Space Mono", serif;
$font-sans: "Droid Sans Mono", sans-serif;

$blue: #0A7B83;
$green: #2AA876;
$yellow: #FFD265;
$orange: #F19C65;
$red: #CE4D45;
